@charset "UTF-8";
* {
  box-sizing: border-box; }

.head {
  display: flex;
  flex-direction: column;
  background: lightgrey url("../img/background_header.jpg") no-repeat;
  background-size: cover;
  max-width: 100%;
  text-align: center;
  color: #ffffff; }
  .head .header__section {
    margin: auto;
    padding: 100px 0;
    max-width: 940px;
    display: flex;
    flex-direction: row;
    padding-top: 65px;
    justify-content: space-between;
    color: #ffffff; }
    .head .header__section .header__logo {
      display: flex;
      padding-left: 20px;
      padding-right: 200px;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff; }
    .head .header__section .header__menu a {
      display: inline-flex;
      align-items: flex-end;
      padding-left: 15px;
      padding-top: 10px;
      color: #fff;
      font-family: Lato, sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none; }

.fa-paper-plane {
  margin-right: 10px; }

.header__text {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.head p {
  color: #ffffff;
  /*font-family:*/
  font-size: 20px;
  font-weight: 300; }

.header__text h1 {
  padding: 40px 0 65px;
  color: #ffffff;
  /*font-family: */
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase; }

button {
  margin: auto;
  margin-top: 85px;
  margin-bottom: 130px;
  outline: none;
  width: 240px;
  height: 60px;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 3px;
  color: #ffffff;
  /*font-family:;*/
  font-size: 25px;
  font-weight: 700;
  background-color: transparent;
  /*rgba(0, 0, 0, 0);*/ }

.header__text button:hover {
  background-color: rgba(235, 235, 235, 0.16);
  cursor: pointer; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .head .header__section .header__logo {
    padding-right: 50px; }
  .header__menu {
    display: block; }
  .header__text p {
    margin-bottom: 5px; }
  /*свойство перебивается*/ }

/* Iphone 5 */
@media (max-width: 375px) {
  .header__section {
    padding-top: 15px;
    padding-bottom: 20px; }
  .header__text button {
    padding: auto;
    height: auto;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .header__text .header__text h1 {
    padding: 10px 0 25px;
    font-size: 20px; }
  .header__text h1 {
    font-size: 20px; }
  .header__logo {
    padding-right: 25px;
    padding-bottom: 10px;
    width: auto; }
  .web {
    padding-left: 10px; }
  .web .container {
    padding: 10px 5px 2px 2px; }
  .web__text h3 {
    text-align: center; }
  .branding {
    padding-left: 10px; }
  .branding .container {
    padding: 10px 5px 2px 2px; }
  .skills .container {
    padding: 10px 5px 2px 2px; }
  .awesome-container .container {
    padding: 10px 5px 2px 2px; }
  .awesome-block-first {
    padding-left: 10px; }
  .logos .container {
    display: flex;
    flex-direction: column;
    padding: 0px; }
  #amazing .container {
    padding: 20px 5px 2px 2px; }
  #footer .container {
    padding-left: 5px;
    padding-top: 15px;
    text-align: center; }
    #footer .container .container p {
      padding: 5px 0 5px; } }

.web {
  background-color: #ffffff;
  margin: auto; }

.container {
  display: flex;
  flex-direction: row;
  max-width: 940px;
  padding-top: 50px;
  padding-bottom: 50px; }

.web__text {
  max-width: 60%; }

h3 {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 30px;
  padding-bottom: 60px; }
  h3 span {
    font-weight: bold; }

p {
  margin-bottom: 40px; }

.web__image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10%; }

img {
  width: 100%;
  max-width: 230px; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .head .header__section .header__logo {
    padding-right: 50px; }
  .header__menu {
    display: block; }
  .header__text p {
    margin-bottom: 5px; }
  /*свойство перебивается*/ }

/* Iphone 5 */
@media (max-width: 375px) {
  .header__section {
    padding-top: 15px;
    padding-bottom: 20px; }
  .header__text button {
    padding: auto;
    height: auto;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .header__text .header__text h1 {
    padding: 10px 0 25px;
    font-size: 20px; }
  .header__text h1 {
    font-size: 20px; }
  .header__logo {
    padding-right: 25px;
    padding-bottom: 10px;
    width: auto; }
  .web {
    padding-left: 10px; }
  .web .container {
    padding: 10px 5px 2px 2px; }
  .web__text h3 {
    text-align: center; }
  .branding {
    padding-left: 10px; }
  .branding .container {
    padding: 10px 5px 2px 2px; }
  .skills .container {
    padding: 10px 5px 2px 2px; }
  .awesome-container .container {
    padding: 10px 5px 2px 2px; }
  .awesome-block-first {
    padding-left: 10px; }
  .logos .container {
    display: flex;
    flex-direction: column;
    padding: 0px; }
  #amazing .container {
    padding: 20px 5px 2px 2px; }
  #footer .container {
    padding-left: 5px;
    padding-top: 15px;
    text-align: center; }
    #footer .container .container p {
      padding: 5px 0 5px; } }

.container {
  /*наверное всем контейнерам в одном месте указать общие свойства?*/
  justify-content: center;
  align-items: center;
  max-width: 940px;
  margin: auto; }

.branding {
  background-color: #fafafa;
  margin: auto;
  justify-content: center;
  align-items: center; }

.branding__image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 10%; }

img {
  width: 100%;
  max-width: 270px;
  max-height: 200px; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .head .header__section .header__logo {
    padding-right: 50px; }
  .header__menu {
    display: block; }
  .header__text p {
    margin-bottom: 5px; }
  /*свойство перебивается*/ }

/* Iphone 5 */
@media (max-width: 375px) {
  .header__section {
    padding-top: 15px;
    padding-bottom: 20px; }
  .header__text button {
    padding: auto;
    height: auto;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .header__text .header__text h1 {
    padding: 10px 0 25px;
    font-size: 20px; }
  .header__text h1 {
    font-size: 20px; }
  .header__logo {
    padding-right: 25px;
    padding-bottom: 10px;
    width: auto; }
  .web {
    padding-left: 10px; }
  .web .container {
    padding: 10px 5px 2px 2px; }
  .web__text h3 {
    text-align: center; }
  .branding {
    padding-left: 10px; }
  .branding .container {
    padding: 10px 5px 2px 2px; }
  .skills .container {
    padding: 10px 5px 2px 2px; }
  .awesome-container .container {
    padding: 10px 5px 2px 2px; }
  .awesome-block-first {
    padding-left: 10px; }
  .logos .container {
    display: flex;
    flex-direction: column;
    padding: 0px; }
  #amazing .container {
    padding: 20px 5px 2px 2px; }
  #footer .container {
    padding-left: 5px;
    padding-top: 15px;
    text-align: center; }
    #footer .container .container p {
      padding: 5px 0 5px; } }

.skills .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px; }
  .skills .container .skills-main-container {
    padding: 0px 25px;
    display: flex;
    flex-flow: row;
    flex-basis: 450px;
    column-count: 2; }
    .skills .container .skills-main-container .skills-title {
      font-family: Lato, sans-serif;
      font-size: 18px;
      font-weight: 700; }
  .skills .container .skills-container {
    padding-right: 15px; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .head .header__section .header__logo {
    padding-right: 50px; }
  .header__menu {
    display: block; }
  .header__text p {
    margin-bottom: 5px; }
  /*свойство перебивается*/ }

/* Iphone 5 */
@media (max-width: 375px) {
  .header__section {
    padding-top: 15px;
    padding-bottom: 20px; }
  .header__text button {
    padding: auto;
    height: auto;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .header__text .header__text h1 {
    padding: 10px 0 25px;
    font-size: 20px; }
  .header__text h1 {
    font-size: 20px; }
  .header__logo {
    padding-right: 25px;
    padding-bottom: 10px;
    width: auto; }
  .web {
    padding-left: 10px; }
  .web .container {
    padding: 10px 5px 2px 2px; }
  .web__text h3 {
    text-align: center; }
  .branding {
    padding-left: 10px; }
  .branding .container {
    padding: 10px 5px 2px 2px; }
  .skills .container {
    padding: 10px 5px 2px 2px; }
  .awesome-container .container {
    padding: 10px 5px 2px 2px; }
  .awesome-block-first {
    padding-left: 10px; }
  .logos .container {
    display: flex;
    flex-direction: column;
    padding: 0px; }
  #amazing .container {
    padding: 20px 5px 2px 2px; }
  #footer .container {
    padding-left: 5px;
    padding-top: 15px;
    text-align: center; }
    #footer .container .container p {
      padding: 5px 0 5px; } }

.awesome-container {
  background-color: #fafafa; }
  .awesome-container .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 10px 60px; }
    .awesome-container .container h3 {
      font-family: Lato, sans-serif;
      font-size: 26px; }
      .awesome-container .container h3 span {
        font-weight: 700; }
    .awesome-container .container p {
      color: #777777;
      font-size: 22px;
      font-weight: 400; }
    .awesome-container .container .awesome-block-first {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .awesome-container .container .awesome-block-first cite {
        color: #7690c5; }
    .awesome-container .container .awesome-block-second {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .awesome-container .container .awesome-block-second cite {
        color: #7690c5; }
    .awesome-container .container .text-block {
      border: 1px solid #e5e3d8;
      background: #ffffff;
      background-size: 100% 100%;
      max-width: 640px;
      font-size: 26px; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .head .header__section .header__logo {
    padding-right: 50px; }
  .header__menu {
    display: block; }
  .header__text p {
    margin-bottom: 5px; }
  /*свойство перебивается*/ }

/* Iphone 5 */
@media (max-width: 375px) {
  .header__section {
    padding-top: 15px;
    padding-bottom: 20px; }
  .header__text button {
    padding: auto;
    height: auto;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .header__text .header__text h1 {
    padding: 10px 0 25px;
    font-size: 20px; }
  .header__text h1 {
    font-size: 20px; }
  .header__logo {
    padding-right: 25px;
    padding-bottom: 10px;
    width: auto; }
  .web {
    padding-left: 10px; }
  .web .container {
    padding: 10px 5px 2px 2px; }
  .web__text h3 {
    text-align: center; }
  .branding {
    padding-left: 10px; }
  .branding .container {
    padding: 10px 5px 2px 2px; }
  .skills .container {
    padding: 10px 5px 2px 2px; }
  .awesome-container .container {
    padding: 10px 5px 2px 2px; }
  .awesome-block-first {
    padding-left: 10px; }
  .logos .container {
    display: flex;
    flex-direction: column;
    padding: 0px; }
  #amazing .container {
    padding: 20px 5px 2px 2px; }
  #footer .container {
    padding-left: 5px;
    padding-top: 15px;
    text-align: center; }
    #footer .container .container p {
      padding: 5px 0 5px; } }

.logo-client {
  display: flex;
  margin: 10px 30px; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .head .header__section .header__logo {
    padding-right: 50px; }
  .header__menu {
    display: block; }
  .header__text p {
    margin-bottom: 5px; }
  /*свойство перебивается*/ }

/* Iphone 5 */
@media (max-width: 375px) {
  .header__section {
    padding-top: 15px;
    padding-bottom: 20px; }
  .header__text button {
    padding: auto;
    height: auto;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .header__text .header__text h1 {
    padding: 10px 0 25px;
    font-size: 20px; }
  .header__text h1 {
    font-size: 20px; }
  .header__logo {
    padding-right: 25px;
    padding-bottom: 10px;
    width: auto; }
  .web {
    padding-left: 10px; }
  .web .container {
    padding: 10px 5px 2px 2px; }
  .web__text h3 {
    text-align: center; }
  .branding {
    padding-left: 10px; }
  .branding .container {
    padding: 10px 5px 2px 2px; }
  .skills .container {
    padding: 10px 5px 2px 2px; }
  .awesome-container .container {
    padding: 10px 5px 2px 2px; }
  .awesome-block-first {
    padding-left: 10px; }
  .logos .container {
    display: flex;
    flex-direction: column;
    padding: 0px; }
  #amazing .container {
    padding: 20px 5px 2px 2px; }
  #footer .container {
    padding-left: 5px;
    padding-top: 15px;
    text-align: center; }
    #footer .container .container p {
      padding: 5px 0 5px; } }

#amazing {
  background-color: #000000; }
  #amazing .container {
    display: flex;
    color: #ffffff;
    padding: 100px 10px 60px;
    flex-direction: column;
    align-items: center; }
  #amazing h3 {
    font-size: 34px; }
  #amazing p {
    margin: 5px;
    color: #626262; }
  #amazing .amazing-block {
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-between;
    flex-wrap: nowrap; }
    #amazing .amazing-block .amazing-block-element {
      margin: 10px;
      align-content: center;
      text-align: center; }
      #amazing .amazing-block .amazing-block-element p {
        color: #ffffff;
        font-weight: 100;
        /*перебиваются стиля, не тонкий шрифт */ }
      #amazing .amazing-block .amazing-block-element .amazing-block-element-image {
        margin-bottom: 20px; }

.amazing-block-social {
  color: #ffffff;
  margin: 12px; }
  .amazing-block-social .fa {
    color: #fafafa; }

.p-team {
  margin: auto;
  max-width: 600px;
  color: #939393;
  font-size: 20px;
  font-weight: 400;
  text-align: center; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .head .header__section .header__logo {
    padding-right: 50px; }
  .header__menu {
    display: block; }
  .header__text p {
    margin-bottom: 5px; }
  /*свойство перебивается*/ }

/* Iphone 5 */
@media (max-width: 375px) {
  .header__section {
    padding-top: 15px;
    padding-bottom: 20px; }
  .header__text button {
    padding: auto;
    height: auto;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .header__text .header__text h1 {
    padding: 10px 0 25px;
    font-size: 20px; }
  .header__text h1 {
    font-size: 20px; }
  .header__logo {
    padding-right: 25px;
    padding-bottom: 10px;
    width: auto; }
  .web {
    padding-left: 10px; }
  .web .container {
    padding: 10px 5px 2px 2px; }
  .web__text h3 {
    text-align: center; }
  .branding {
    padding-left: 10px; }
  .branding .container {
    padding: 10px 5px 2px 2px; }
  .skills .container {
    padding: 10px 5px 2px 2px; }
  .awesome-container .container {
    padding: 10px 5px 2px 2px; }
  .awesome-block-first {
    padding-left: 10px; }
  .logos .container {
    display: flex;
    flex-direction: column;
    padding: 0px; }
  #amazing .container {
    padding: 20px 5px 2px 2px; }
  #footer .container {
    padding-left: 5px;
    padding-top: 15px;
    text-align: center; }
    #footer .container .container p {
      padding: 5px 0 5px; } }

#footer {
  background-color: #7690c5; }
  #footer .container {
    display: flex;
    justify-content: center;
    padding: 100px 10px 100px;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #87a0d2;
    max-width: 940px; }
  #footer .contact-info {
    width: 100%;
    max-width: 450px;
    color: #ffffff; }
  #footer p {
    margin: 20px 0 45px;
    font-size: 18px;
    font-weight: 400; }
  #footer ul {
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-between; }
    #footer ul li {
      margin: 20px 0;
      flex-basis: 200px; }
      #footer ul li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        transition: 0.5s; }
        #footer ul li a:hover {
          color: #c0c0c0;
          text-decoration: none;
          transition: 0.5s; }
  #footer .fa {
    margin-right: 10px;
    font-size: 30px; }
  #footer form {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column; }
    #footer form input {
      margin: 15px 0;
      width: 100%;
      padding: 15px; }
    #footer form textarea {
      padding: 15px;
      width: 100%;
      min-height: 200px;
      resize: none; }
  #footer .end_footer {
    padding: 30px;
    text-align: center; }
    #footer .end_footer p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400; }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .head .header__section .header__logo {
    padding-right: 50px; }
  .header__menu {
    display: block; }
  .header__text p {
    margin-bottom: 5px; }
  /*свойство перебивается*/ }

/* Iphone 5 */
@media (max-width: 375px) {
  .header__section {
    padding-top: 15px;
    padding-bottom: 20px; }
  .header__text button {
    padding: auto;
    height: auto;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .header__text .header__text h1 {
    padding: 10px 0 25px;
    font-size: 20px; }
  .header__text h1 {
    font-size: 20px; }
  .header__logo {
    padding-right: 25px;
    padding-bottom: 10px;
    width: auto; }
  .web {
    padding-left: 10px; }
  .web .container {
    padding: 10px 5px 2px 2px; }
  .web__text h3 {
    text-align: center; }
  .branding {
    padding-left: 10px; }
  .branding .container {
    padding: 10px 5px 2px 2px; }
  .skills .container {
    padding: 10px 5px 2px 2px; }
  .awesome-container .container {
    padding: 10px 5px 2px 2px; }
  .awesome-block-first {
    padding-left: 10px; }
  .logos .container {
    display: flex;
    flex-direction: column;
    padding: 0px; }
  #amazing .container {
    padding: 20px 5px 2px 2px; }
  #footer .container {
    padding-left: 5px;
    padding-top: 15px;
    text-align: center; }
    #footer .container .container p {
      padding: 5px 0 5px; } }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .head .header__section .header__logo {
    padding-right: 50px; }
  .header__menu {
    display: block; }
  .header__text p {
    margin-bottom: 5px; }
  /*свойство перебивается*/ }

/* Iphone 5 */
@media (max-width: 375px) {
  .header__section {
    padding-top: 15px;
    padding-bottom: 20px; }
  .header__text button {
    padding: auto;
    height: auto;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .header__text .header__text h1 {
    padding: 10px 0 25px;
    font-size: 20px; }
  .header__text h1 {
    font-size: 20px; }
  .header__logo {
    padding-right: 25px;
    padding-bottom: 10px;
    width: auto; }
  .web {
    padding-left: 10px; }
  .web .container {
    padding: 10px 5px 2px 2px; }
  .web__text h3 {
    text-align: center; }
  .branding {
    padding-left: 10px; }
  .branding .container {
    padding: 10px 5px 2px 2px; }
  .skills .container {
    padding: 10px 5px 2px 2px; }
  .awesome-container .container {
    padding: 10px 5px 2px 2px; }
  .awesome-block-first {
    padding-left: 10px; }
  .logos .container {
    display: flex;
    flex-direction: column;
    padding: 0px; }
  #amazing .container {
    padding: 20px 5px 2px 2px; }
  #footer .container {
    padding-left: 5px;
    padding-top: 15px;
    text-align: center; }
    #footer .container .container p {
      padding: 5px 0 5px; } }
