#amazing {
  background-color: #000000;

  .container {
    display:flex;
    color: #ffffff;
    padding: 100px 10px 60px;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    font-size: 34px;
  }
  p {
    margin: 5px;
    color: #626262;
  }

  .amazing-block {
    display:flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-between;
    flex-wrap: nowrap;

    .amazing-block-element {
      margin: 10px;
      align-content: center;
      text-align: center;
      p {
        color: #ffffff;
        font-weight: 100; /*перебиваются стиля, не тонкий шрифт */
      }
      .amazing-block-element-image {
        margin-bottom: 20px;
      }
    }
  }
}
.amazing-block-social {
  color: #ffffff;
  margin: 12px;
  .fa {
    color: #fafafa;
  }
}
.p-team {
  margin: auto;
  max-width: 600px;
  color: #939393;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
@import "media";