.awesome-container {
  background-color: #fafafa;
    .container{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 100px 10px 60px;
        h3 {
          font-family: Lato, sans-serif;
          font-size: 26px;
          span {
            font-weight: 700;
          }
        }
      p {
        color: #777777;
        font-size: 22px;
        font-weight: 400;
      }

        .awesome-block-first {
          display: flex;
          flex-direction: row;
          align-items: center;
          cite {
            color: #7690c5;
          }
        }
        .awesome-block-second{
          display: flex;
          flex-direction: row;
          align-items: center;
          cite {
            color: #7690c5;
          }
        }
      .text-block {
        border: 1px solid #e5e3d8;
        background: #ffffff;
        background-size: 100% 100%;
        max-width: 640px;
        font-size: 26px;
      }
    }
}
@import "media";