.web {
  background-color: #ffffff;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 940px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.web__text {
  max-width: 60%;
}
     h3 {
       font-family: "Brandon Grotesque", sans-serif;
       font-size: 30px;
       padding-bottom: 60px;
       span {
         font-weight: bold;
       }
     }
        p {
          margin-bottom: 40px;
        }

 .web__image {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-right: 10%;
 }
   img {
     width: 100%;
     max-width: 230px;
 }
@import "media";